* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: linear-gradient(to left, #81a7ee, #b180f1)
}

.navbar {

    background-image: linear-gradient(to left, #c4b2f1, #d4ade4) padding 0 !important;

}

.navbar-brand img {

    height: 80px;
    padding-left: 30px;
    background-image: none;

}

.nav-link {
    color: #612d4d;

}

.navbar-nav li {
    padding: 0 80px;
}

.navbar-nav li {
    color: #fff !important;
    font-weight: 500;
}

.navbar-brand {
    font-weight: 600;
    color: #b991aa;
}

.spinning-circle {
    animation: spin 120s infinite;
    height: 40%;
    border-radius: 50%;
}

#banner {
    background-image: linear-gradient(to left, #c4b2f1, #d4ade4);
    padding-top: 5%;
    height: 100%;
}

.welcome-title {
    font-size: 70px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 50px;
    font-style: italic;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.title {
    padding: 50px;
}

.title::before {
    content: '';
    background: #b991aa;
    height: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #b991aa;
    height: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.bathbombs {
    width: 76%;
    border-radius: 700px;
    text-align: center;
}

#bathbombs .btn-primary {
    box-shadow: none;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background: #b991aa;
    margin-bottom: 150px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

table {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}